.switch-button-right {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 60% 50%);
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, #93DFEF, #BAF5FD 40%, #BAF5FD 60%, #93DFEF 100%);
}

.switch-button-left {
    clip-path: polygon(0 50%, 50% 0, 40% 50%, 50% 100%);
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, #93DFEF, #BAF5FD 40%, #BAF5FD 60%, #93DFEF 100%);
}

.switch-button-wrapper {
    filter: drop-shadow(0 0 1px #20424E);
}

.switch-button-wrapper:hover {
    filter: drop-shadow(0 0 2px #20424E);
}

.mii-background-1 {
    background: url('/items/background/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-2 {
    background: url('/items/background/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-3 {
    background: url('/items/background/background3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-4 {
    background: url('/items/background/background4.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-5 {
    background: url('/items/background/background5.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-6 {
    background: url('/items/background/background6.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-7 {
    background: url('/items/background/background7.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-8 {
    background: url('/items/background/background8.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-9 {
    background: url('/items/background/background9.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-10 {
    background: url('/items/background/background10.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-11 {
    background: url('/items/background/background11.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.mii-background-12 {
    background: url('/items/background/background12.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-13 {
    background: url('/items/background/background13.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mii-background-14 {
    background: url('/items/background/background14.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 50%;
}