@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .arrow-button {
    @apply w-9 h-9 border-2 border-black rounded-lg hover:scale-95;
    @apply bg-gradient-to-b from-[#B6B6B6] to-[#FCFCFC];
  }

  .item-button {
    @apply relative w-[54px] h-[54px] border-2 border-black rounded-lg flex justify-center items-center hover:scale-95;
    @apply bg-gradient-to-b from-[#B6B6B6] to-[#FCFCFC];
    @apply drop-shadow-md;
  }

  .item-type-button {
    @apply border-2 border-green-700 py-2 px-3 flex items-center justify-center w-[66px] h-[53px];
    @apply bg-gradient-to-tr from-[#86CD63] to-[#C9D8F5];
  }

  .item-type-button.active {
    @apply bg-gradient-to-b from-[#DEFA33] to-[#90EB3F];
  }

  .wii-button {
    @apply py-4 px-4 min-w-[260px] border-2 border-[#5DB0CF] rounded-full flex items-center justify-center text-2xl font-medium;
    @apply bg-gradient-to-t from-[#B6B6B6] via-80% via-[#FCFCFC] to-[#FCFCFC];
    @apply shadow-md;
    cursor: url("/cursor/wii-cursor.cur"), auto;
  }

  .wii-button:hover {
    transform: scale(0.95);
  }

  .mii-background {
    background-image: url("/images/hero-bg.webp");
    background-repeat: no-repeat;
    background-size: 250% 100%;
    background-position: 49% 50%;
  }
}

@media (min-width: 768px) {
  .mii-background {
    background-size: cover;
  }
}