@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .arrow-button {
    @apply w-10 h-10 border-2 border-black rounded-lg hover:scale-95;
    @apply bg-gradient-to-b from-[#B6B6B6] to-[#FCFCFC];
  }

  .item-button {
    @apply relative w-[54px] h-[54px] border-2 border-black rounded-lg flex justify-center items-center hover:scale-95;
    @apply bg-gradient-to-b from-[#B6B6B6] to-[#FCFCFC];
  }

  .item-type-button {
    @apply border-2 border-green-700 py-2 px-3 flex items-center justify-center;
    @apply bg-gradient-to-tr from-[#86CD63] to-[#C9D8F5];
  }

  .item-type-button.active {
    @apply bg-gradient-to-b from-[#DEFA33] to-[#90EB3F];
  }

  .wii-button {
    @apply py-4 px-2 w-[260px] border-2 border-[#5DB0CF] rounded-full flex items-center justify-center text-2xl font-medium;
    @apply bg-gradient-to-t from-[#B6B6B6] to-[#FCFCFC];
  }
}
